body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #f3f2ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary-btn: rgb(10, 102, 194);
  --color-hover-btn: rgb(0, 65, 130);
  --color-hover-section: rgba(112, 181, 249, 0.2);
  --border-color-cards: #dddcd9;
}

#root {
  background: #f3f2ef;
}

.nav-link.active {
  border-bottom: 5px solid var(--color-hover-btn);
}
